# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# IDE or Editor Directories
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
*.bak
*.swp
*.pid
*.seed

# System Files
.DS_Store
Thumbs.db

# Performance Monitor data
data/perfmon_memory_data.csv
data/perfmon_cpu_data.csv

# Collected data files
data/*.csv

# Reports
reports/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python test logs
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
